header
{
    width: 100%;
    height: 150px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.logo img
{
    height: 100px;
}
.nav-bar
{
    display: flex;
    gap: 30px;
}
.nav-bar a 
{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-bar a:hover 
{
    color: #00E676;
}
.auth 
{
    display: flex;
    color: white;
    gap: 10px;
    text-decoration: none;
}
.auth a 
{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.auth a:hover 
{
    color: #00E676;
}
main 
{
    flex: 1;   
    width: 100%;
    padding: 30px 0;
    color: white;
}
html, body 
{
    height: 100%;
    margin: 0;
}
body
{
    background-color: #121212;
    display: flex;
    flex-direction: column;
}
.content
{
    width: 85%;
    margin: auto;
}
footer
{
    width: 100%;
    height: 150px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.item-container
{
    display:flex; 
    flex-wrap:wrap; 
    gap:40px; 
    margin: auto; 
    width: 90%;
}
.item-card
{
    width: 210px;
    height: 300px;
    background-color: #2A2A2A;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid lightgray; 
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.item-card:hover 
{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}
.item-card img 
{
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}
.auth-form
{
    width: 30%;
    height: auto;
    margin: auto;
    padding: 2%;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.06) 0px 1px 3px 0px, rgba(255, 255, 255, 0.12) 0px 0px 0px 1px;
    border-radius: 10px;
}
.auth-form input 
{
    width: 80%;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    outline: none;
    background: #2A2A2A;
    color: white;
    transition: 0.3s;
}
.auth-form input:focus 
{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 5px rgba(255,255,255,0.2);
}
.item_details
{
    width: 40%;
    margin: auto;
    display: flex;
    gap: 50px;
    padding: 5%;
    border-radius: 10px;
    color: white;
}
.item_left img {
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}