header
{
    width: 100%;
    height: 150px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    box-sizing: border-box;
    flex-shrink: 0;
}
.logo img
{
    height: 100px;
}
.nav-bar
{
    display: flex;
    gap: 30px;
}
.nav-bar a 
{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-bar a:hover 
{
    color: #9333EA;
}
.auth 
{
    display: flex;
    color: white;
    gap: 10px;
    text-decoration: none;
}
.auth a 
{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.auth a:hover 
{
    color: #9333EA;
}
main 
{
    flex: 1;   
    width: 100%;
    padding: 30px 0;
    color: white;
}
html, body 
{
    height: 100%;
    margin: 0;
}
body
{
    background-color: #121212;
    display: flex;
    flex-direction: column;
}
.content
{
    width: 85%;
    margin: auto;
}
.auth-form
{
    width: 30%;
    height: auto;
    margin: auto;
    padding: 2%;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.06) 0px 1px 3px 0px, rgba(255, 255, 255, 0.12) 0px 0px 0px 1px;
    border-radius: 10px;
}
.auth-form input 
{
    width: 80%;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    outline: none;
    background: #2A2A2A;
    color: white;
    transition: 0.3s;
}
.auth-buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
    background-color: #6C5CE7;
    border: 1px solid #6C5CE7;
}
.item-container
{
    display:flex; 
    flex-wrap:wrap; 
    gap:40px; 
    margin: auto; 
    width: 90%;
}
.item-card
{
    width: 210px;
    height: 300px;
    background-color: #2A2A2A;
    align-items: center;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid lightgray; 
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.item-card img 
{
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}
.quantity
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}
.quantity button
{
    width: 30px;
    height: 30px;
    background-color: #9333EA;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.quantity button:hover 
{
    background-color: #9333EA;
}
.quantity span 
{
    min-width: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.cart-container
{
    width: 60%;
    margin: auto;
    color: white;   
    background: #2A2A2A;
    box-shadow: rgba(255, 255, 255, 0.06) 0px 1px 3px 0px, rgba(255, 255, 255, 0.12) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 20px;
}
.cart-container 
{
    width: 60%;
    border-collapse: collapse;
}
.cart-container th 
{
    border-bottom: 2px solid #444;
    padding: 12px;
    text-align: center;
}
.cart-container td 
{
    border-bottom: 1px solid #333;
    padding: 12px;
    text-align: center;
}
.cart-footer 
{
    text-align: right;
    margin-top: 20px;
}
.checkout 
{
    padding: 10px 20px;
    background-color: #9333EA;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.profile-container 
{
    width: 50%;
    margin: 30px auto;
    color: white;
}
.profile-card 
{
    margin-bottom: 15px;
}
.profile-btn
{
    width: 100%;
    padding: 15px;
    background: #2A2A2A;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.profile-btn:hover 
{
    background: #3A3A3A;
}

.profile-content
{
    display: none;
    background: #1E1E1E;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
}

.profile-content input 
{
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 6px;
    border: none;
    background: #121212;
    color: white;
}

.profile-content button 
{
    margin-top: 10px;
    padding: 8px 15px;
    background: #00E676;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.logout 
{
    background: #ff5252;
}