<!DOCTYPE html>
<html>

<head>
    <title>Bowls</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/img/logo/main_logo.png">
        </div>
        <nav class="nav-bar">
            <a href="/">Home</a>
            <a href="/breakfast">Breakfast</a>
            <a href="/lunch">Lunch</a>
            <a href="/dinner">Dinner</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        <div class="auth">
            {% if user %}
                <a href="/profile" class="auth-buttons">&#x1F464;</a>
                <a href="/cart" class="auth-buttons">&#x1F6D2;</a>
            {% else %}
                <a href="/login">Login</a> |
                <a href="/register">Register</a>
            {% endif %}
        </div>
    </header>

    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>

</html> 