<!DOCTYPE html>
<html>

<head>
    <title>Bowls</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/img/logo/main_logo.png">
        </div>
        <nav class="nav-bar">
            <a href="/">Home</a>
            <a href="/breakfast">Breakfast</a>
            <a href="/lunch">Lunch</a>
            <a href="/dinner">Dinner</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        <div class="auth">
            <a href="/login">Login</a> |
            <a href="/register">Register</a>
        </div>
    </header>

    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
    </footer>
</body>

</html> 