{% extends "base.html" %}

{% block content %}
<h2 style="text-align:center;">{{ menu_title }}</h2>
<div class="item-container">
    {% for item in items %}
        <div class="item-card">
            <img src="/static/img/{{ item.image }}">
            <h3>{{ item.name }}</h3>
            <h5>$ {{ item.price }}</h5>
            {% if item.quantity and item.quantity > 0%}
                <div class="quantity">
                    <form action="/update_cart" method="post">
                        <input type="hidden" name="item_code" value="{{ item.item_code }}">
                        <input type="hidden" name="action" value="decrease">
                        <button>-</button>
                    </form>
                    <span>{{ item.quantity }}</span>
                    <form action="/update_cart" method="post">
                        <input type="hidden" name="item_code" value="{{ item.item_code }}">
                        <input type="hidden" name="action" value="increase">
                        <button>+</button>
                    </form>
                </div>
            {% else %}
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="item_code" value="{{ item.item_code }}">
                    <input type="hidden" name="name" value="{{ item.name }}">
                    <input type="hidden" name="price" value="{{ item.price }}">
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit">Add To Cart</button>
                </form>
            {% endif %}
            </div>
    {% endfor %}
</div>
{% endblock %}